*{
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app__headerImage{
  background-color: white;
  object-fit: contain;
  padding: 20px; 
  border: 1px soild lightgray;
}

.app__signup{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}